<p>
  <strong>{{ title }}</strong>
</p>

<md-table #table [dataSource]="buildsDataSource">
  <ng-container cdkColumnDef="buildId">
    <md-header-cell *cdkHeaderCellDef>ID</md-header-cell>
    <md-cell *cdkCellDef="let build">Build {{ build.buildId }}</md-cell>
  </ng-container>

  <ng-container cdkColumnDef="configuration">
    <md-header-cell *cdkHeaderCellDef>Configuration</md-header-cell>
    <md-cell *cdkCellDef="let build">{{ build.configuration }}</md-cell>
  </ng-container>

  <ng-container cdkColumnDef="status">
    <md-header-cell *cdkHeaderCellDef>Status</md-header-cell>
    <md-cell *cdkCellDef="let build">
      {{ BuildStatus[build.status] | appEnumValue }}
      {{ getCurrentTaskIfInProgress(build) }}
    </md-cell>
  </ng-container>

  <md-header-row *cdkHeaderRowDef="['buildId', 'configuration', 'status']"></md-header-row>
  <md-row *cdkRowDef="let build; columns: ['buildId', 'configuration', 'status'];" class="build-row" (click)="navigateToBuild(build)"></md-row>
</md-table>