<header>
  <md-toolbar color="accent">
    <img class="logo" src="/assets/images/logo.svg" />
    <a routerLink="/">Arbor CI Server</a>
    <span class="fill"></span>
    <span *ngIf="user | async; let user">
      {{ user.displayName }}
      <button md-raised-button  (click)="logout()">Logout</button>
    </span>
    <span *ngIf="!(user | async)">
      <button md-raised-button (click)="login()">Login</button>
    </span>
  </md-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>