@import './../styles/colors';

header {
  .logo {
    width: 30px;
    margin-right: 16px;
  }

  .fill {
    flex: 1 1 auto;
  }

  a {
    color: $color-type;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

main {
  padding: 16px;
}