<h3 mdDialogTitle>Queue Build</h3>

<form [formGroup]="form" (submit)="submit()">
  <md-dialog-content>
    <md-select class="full-width" [formControlName]="controls.buildConfiguration" placeholder="Build Configuration">
      <md-option *ngFor="let buildConfiguration of buildConfigurations | async" [value]="buildConfiguration.name">
        {{ buildConfiguration.name }}
      </md-option>
    </md-select>
    <em>{{(selectedBuildConfiguration | async)?.description}}</em>

    <md-select class="full-width" [formControlName]="controls.branch" placeholder="Branch">
      <md-option *ngFor="let branch of branches | async" [value]="branch">
        {{ branch }}
      </md-option>
    </md-select>
  </md-dialog-content>
  <md-dialog-actions [attr.align]="'end'">
    <button md-button type="button" mdDialogClose>Nevermind</button>
    <button md-button type="submit" [disabled]="form.valid === false">Queue Build</button>
  </md-dialog-actions>
</form>