<button md-raised-button (click)="queueBuild()">Queue Build</button>
<span *ngIf="queuedBuildCount | async; let queuedBuildCount">There are {{ queuedBuildCount }} builds in the queue.</span>
<hr />

<section>
  <p>
    <strong>In Progress Builds</strong> <span>({{ busyAgentCount | async }} of {{ totalAgentCount | async }} agents are building.)</span>
  </p>

  <md-progress-bar mode="determinate" [value]="agentBarProgress | async"></md-progress-bar>

  <app-builds-table [builds]="inProgressBuilds | async"></app-builds-table>
</section>